research/**/*.ico filter=lfs diff=lfs merge=lfs -text
research/**/*.tar filter=lfs diff=lfs merge=lfs -text
research/**/*.pth filter=lfs diff=lfs merge=lfs -text
research/**/*.mov filter=lfs diff=lfs merge=lfs -text
research/**/*.h5 filter=lfs diff=lfs merge=lfs -text
research/**/*.hdf5 filter=lfs diff=lfs merge=lfs -text
research/**/*.model filter=lfs diff=lfs merge=lfs -text
research/**/*.docx filter=lfs diff=lfs merge=lfs -text
research/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
research/**/*.gz filter=lfs diff=lfs merge=lfs -text
research/**/*.bin filter=lfs diff=lfs merge=lfs -text
research/**/*.gguf filter=lfs diff=lfs merge=lfs -text
research/**/*.bmp filter=lfs diff=lfs merge=lfs -text
research/**/*.pdf filter=lfs diff=lfs merge=lfs -text
research/**/*.wav filter=lfs diff=lfs merge=lfs -text
research/**/*.pt filter=lfs diff=lfs merge=lfs -text
research/**/*.tif filter=lfs diff=lfs merge=lfs -text
research/**/*.webp filter=lfs diff=lfs merge=lfs -text
research/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
research/**/*.zip filter=lfs diff=lfs merge=lfs -text
research/**/*.png filter=lfs diff=lfs merge=lfs -text
research/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
research/**/*.gif filter=lfs diff=lfs merge=lfs -text
research/**/*.npy filter=lfs diff=lfs merge=lfs -text
research/**/*.pkl filter=lfs diff=lfs merge=lfs -text
research/**/*.jpg filter=lfs diff=lfs merge=lfs -text
research/**/*.tiff filter=lfs diff=lfs merge=lfs -text
research/**/*.npz filter=lfs diff=lfs merge=lfs -text
research/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
research/**/*.pptx filter=lfs diff=lfs merge=lfs -text
research/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
